/* colors */
$borderColor: #eaecef;

/* layout */
$navbarHeight: 3.6rem;
$sidebarWidth: 20rem;
$contentWidth: 740px;

/* responsive breakpoints */
$MQNarrow: 959px;
$MQMobile: 719px;
$MQMobileNarrow: 419px;

/* 这种写法不行，加不加calc都一样，不识别$ */
/* $mobileSidebarWidth: calc($sidebarWidth * 0.82); */
$mobileSidebarWidth: 16.4rem;
