$primary-color: #1890ff;
$green-6: #52c41a;
$purple-6: #722ed1;
/* $purple-3懒得调查，先设成$purple-6 */
$purple-3: #722ed1;

$site-text-color: #314659;
$site-text-color-secondary: #697b8c;
$site-border-color-split: #ebedf0;

$font-size-base: 14px;

$border-radius-base: 4px;
$border-radius-sm: 2px;
